<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mx-1" >Books app</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/default">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add">Add book</a>
      </li>
    </ul>
  </div>
   
  <form action="/search" method="get" class="d-flex align-items-center flex-nowrap ">
    <input name="searchedName" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 mx-1" type="submit">Search</button>
  </form>
</nav>