{{>header}}
{{>navbar}}

<section class="my-5 container">
<form action="/add" method="post" class="d-flex flex-column">

<input name="bookTitle" placeholder="Book Title" required>
<input name="auther" placeholder="Auther Name">
<input name="category" placeholder="Category">
<input name="pagesNum" type="number" placeholder="Pages" required>
<button class="btn btn-dark btn-outline-success mx-20">Add Book</button>

</form>
</section>


{{>footer}}