{{>header}}
{{>navbar}}
<form action="/adduser" method="post">
    <input name="title" placeholder="Title">
    <input name="content" placeholder="Content">
    <input type="date" name="dueDate" placeholder="Due Date">
    <button>Add</button>
</form>
