{{>header}}
{{>navbar}}
<section class="my-5 container">
    <div class "row">
        <div class="col-4">
        <strong>id:</strong> {{result.id}}
        </div>
    
        <div class="col-4">
        <strong>title:</strong> {{result.title}}
        </div>

        <div class="col-4">
        <strong>Due date:</strong> {{result.dueDate}}
        </div>

        <div class="col-4">
        <strong>Content:</strong> {{result.content}}
        </div>


    </div>
</section>